.loginPage {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.loginForm {
  @apply lg:w-[880px] w-[calc(100%-20px)] sm:h-[486px] h-[450px] rounded-[30px] sm:p-[40px] p-[20px] absolute top-[50%] left-[50%] bg-[#ffff] max-w-[100%] flex;
  box-shadow: 4px 4px 20px 0px #00000040;
  overflow: hidden;
  transform: translateX(-50%) translateY(-50%);
  .form {
    @apply md:w-[48%] w-full;
    .formTitle {
      @apply text-[#3D3D3D] text-[30px] font-bold text-center mb-[33px] sm:mt-[20px] mt-[10px];
    }
    .ant-form-item {
      @apply sm:mb-[45px] mb-[30px];
      .ant-form-item-row {
        @apply flex-col;
        .ant-form-item-label {
          @apply text-start;
          label {
            @apply font-bold text-[#3D3D3D] text-[16px] leading-[20px];
          }
        }
      }
      .ant-form-item-control {
        width: 100%;
        max-width: unset !important;
        .userInput {
          border: 1px solid #949ca9;
          border-radius: 4px;
          height: 40px;
          font-size: 14px;
          color: #949ca9;
        }
        .passInput {
          border: 1px solid #949ca9;
          border-radius: 4px;
          height: 40px;
          font-size: 14px;
          color: #949ca9;
        }
      }
    }
    .signInBtn {
      @apply w-full mt-[25px] bg-[#DFA128] h-[40px] rounded-[20px];
      box-shadow: 0px 4px 4px 0px #00000040 inset;
      span {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
  .other {
    flex: 1;
    position: relative;
    @apply md:block hidden;
    .bg {
      position: absolute;
      width: 435.31px;
      height: 642.68px;
      background-color: #dfa128;
      top: -90px;
      left: 90px;
      transform: rotate(20.36deg);
    }
    .otherImage {
      z-index: 2;
      position: relative;
      margin-top: 85px;
      margin-left: 105px;
    }
  }
}
