.managerPage {
  .managerContent {
    @apply flex items-start;
    .content {
      background: linear-gradient(180deg, #fff6e9 0%, #ffffff 100%);
      min-height: 100vh;
      flex: 1;
      padding: 29px 40px 29px 24px;
      // box-shadow: 4px 0px 4px 0px #00000040;
      box-shadow: 4px 0px 4px 0px #00000040 inset;
    }
  }
}
